.grid-container{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr ;
    grid-template-rows: 50px 50px 50px;
    background-color:black;
    grid-gap:5px 5px;
    justify-items: center ;
    align-items: center;
    
   
   
}
.grid-item{
    background-color: yellow;
    border: 2px solid black;
    
}
.grid-item1{
    /* grid-column: 1/4;
    grid-row: 1/ span; */
    background-color: yellow;
    border: 2px solid red;
}